@(websites: List[models.Website])

<html>
<head>
	<title>Website Monitor</title>
	<!--<meta http-equiv="refresh" content="5;">-->
	<script src="/javascripts/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>
<body>

@for(website <- websites){
	<div class="websiteContainer">
		<h2>@website.url</h2>
		@if(website.latestStatusCode > 0){
			<div>Latest status code: @website.latestStatusCode</div>
			<div>Latest content check status: @if(website.isLatestContentStatusOk){OK}else{ERROR}</div>
		}
		<object type="text/html" data="@website.url"></object>
	</div>
}

</body>
</html>